<footer class="footer" id="contacts">
  <div class="container container-footer">
    <!-- <div class="bacimg"></div> -->
    <div class="logo-contacts">
      <div class="container-logo">
        <a class="link logo" href="./index.html">Focus.Frame</a>
      </div>
      <div class="address">
        <a class="address-contacts" href="tel:+380665438912"
          >UK: +38 066 543 8912</a
        >
        <p class="text">Ukraine, Kyiv</p>
      </div>
    </div>
    <div class="block">
      <div class="social">
        <ul class="list-block list">
          <li class="item-block item">
            <a
              class="item-link link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noreferrer, noopener"
              >Instagram</a
            >
          </li>
          <li class="item-block item">
            <a
              class="item-link link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noreferrer, noopener"
              >Facebook</a
            >
          </li>
          <li class="item-block item">
            <a
              class="item-link link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noreferrer, noopener"
              >Youtube</a
            >
          </li>
        </ul>
      </div>
      <div class="menu">
        <ul class="list-block list">
          <li class="item-block item">
            <a class="item-link link" href="#aboutus">About us</a>
          </li>
          <li class="item-block item">
            <a class="item-link link" href="#ourcourses">Our courses</a>
          </li>
          <li class="item-block item">
            <a class="item-link link" href="#ourmentors">Our mentors</a>
          </li>
          <li class="item-block item">
            <a class="item-link link" href="#reviews">Reviews</a>
          </li>
          <li class="item-block item">
            <a class="item-link link" href="#contacts">contacts</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-email">
      <form class="footer-form" name="subscribe_form">
        <label class="footer-label" for="user_email_form">
          <input
            class="footer-form-input"
            name="subscribe-email"
            type="email"
            placeholder="Enter your email"
            id="user_email_form"
          />
        </label>
        <button class="button" type="submit">Go</button>
      </form>
    </div>
    <div class="form-copyration">
      <div class="privacy">
        <p class="text">
          <span class="span">
            <a
              class="modal-form-link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              >Privacy Policy</a
            ></span
          >
          Public Offering Agreement
        </p>
      </div>
      <div class="copiration">
        <p class="text">
          <span class="span">2023 Focus Frame </span>
          <span class="cop">&#169;</span>All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>
