<header class="container">
  <div class="container-header container-head">
    <nav class="navbar-header">
      <a href="./index.html" class="logo-header lg">
        <svg class="icon-header-logo" width="123" height="16">
          <use href="../img/sprite1.svg#logo"></use>
        </svg>
      </a>
      <ul class="list header-list">
        <li><a class="header-link" href="">About us</a></li>
        <li><a class="header-link" href="">Our courses</a></li>
        <li><a class="header-link" href="">Our mentors</a></li>
        <li><a class="header-link" href="">Reviews</a></li>
        <li><a class="header-link" href="">contacts</a></li>
      </ul>
      <div class="mobile-butons-header">
        <a href="" class="signup-mobile-header">
          <svg class="icon-header-signup" width="16" height="16">
            <use href="../img/sprite1.svg#icon-camera-header"></use>
          </svg>
        </a>
        <button
          class="menu-toggle js-open-menu"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <svg class="icon-header-menu" width="32" height="22">
            <use href="../img/sprite1.svg#icon-Menu_burger"></use>
          </svg>
        </button>
      </div>
    </nav>
    <a href="" class="signup-header h-button">Sign up</a>
  </div>
</header>
<div class="overlay"></div>
<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="modal-icon icon" width="32" height="32">
      <use href="../img/sprite1.svg#icon-close_button"></use>
    </svg>
  </button>
  <div class="mobile-container">
    <ul class="list mobile-menu h-list">
      <li><a href="" class="link mobile-menu-link">About us</a></li>
      <li><a href="" class="link mobile-menu-link">Our courses</a></li>
      <li><a href="" class="link mobile-menu-link">Our mentors</a></li>
      <li><a href="" class="link mobile-menu-link">Reviews</a></li>
      <li><a href="" class="link mobile-menu-link">contacts</a></li>
    </ul>
    <picture class="mobile-photo">
      <source
        media="(max-width: 768px)"
        srcset="
          ../img/Menu/Menu_rectangle@1x_mobile.jpg 1x,
          ../img/Menu/Menu_rectangle@2x_mobile.jpg 2x
        "
      />
      <img src="../img/Menu/Menu_rectangle@1x_mobile.jpg" alt="Photo camera" />
    </picture>
    <picture class="tablet-photo">
      <source
        media="(min-width: 769px) and (max-width: 1278px)"
        srcset="
          ../img/Menu/Menu_rectangle@1x_tablet.jpg 1x,
          ../img/Menu/Menu_rectangle@2x_tablet.jpg 2x
        "
      />
      <img src="../img/Menu/Menu_rectangle@1x_tablet.jpg" alt="Photo camera" />
    </picture>
  </div>
</div>
