<hero class=" hero-sec">
	<div class="container ">
		<div class="hero-cont">
			<div class="hero-decs">
				<h1 class="hero-title">Discover the magic of <span class="photography">photography</span> in our school
				</h1>
				<p class="hero-text"> Our photography school offers an <br>
					unforgettable journey, where you can learn the
					basics of
					composition, master technical
					skills, translate your unique ideas.</p>
				<div class="hero-students-sec">
					<div class="hero-students-img">
						<div class="hero-students">
							<picture>
								<source srcset="
								   ./img/Hero/students@1x_mobile.jpg   1x,
								   ./img/Hero/students@2x_mobile.jpg   2x
								   " media="(min-width: 375px)" />
								<img src="./img/Hero/students@1x_mobile.jpg" alt="students" width="107" height="44" />
							</picture>
						</div>
						<div class="hero-students-linc">
							<a class="hero-students-text" href="index.html#Reviews">Our happy students </a>
							<svg class="hero-icon-arrow" width="18" height="8.66">
								<use href="./img/sprite1.svg#icon-Arrow"></use>
							</svg>
						</div>
					</div>
					<div class="hero-reviews">
						<svg class="hero-icon" width="44" height="44">
							<use href="./img/sprite1.svg#icon-Star_circle"></use>
						</svg>
						<div class="hero-reviews-t">
							<p class="hero-reviews-text">Reviews</p>
							<p hero-reviews-progress>+1500</p>
						</div>
					</div>
				</div>
			</div>
			<div class="rectangle">
				<picture>
					<source srcset="
						   ./img/Hero/hero_rectangle@1x_mobile.jpg   1x,
						   ./img/Hero/hero_rectangle@2x_mobile.jpg   2x
						   " media="(min-width: 375px)" />
					<img src="./img/Hero/hero_rectangle@1x_mobile.jpg" alt="rectangle" width="259" height="319" />
					</img>
			</div>
		</div>
</hero>