<section class="our-courses" id="ourcourses">
  <div class="container our-courses-container">
    <div class="courses-text">
      <h2 class="courses-subtitle">
        Our <span class="subtitle-accent">Courses</span>
      </h2>
      <p class="courses-description">
        At our photography school, we offer a variety of courses that cover all
        aspects of this fascinating art. Regardless of your experience or skill
        level, we have courses to suit your needs and goals.
      </p>
    </div>
    <ol class="courses-cards">
      <li class="courses-cards-item">
        <h3 class="card-subtitle">Basics of photography</h3>
        <p class="card-text">
          During this course, you will be able to familiarize yourself with
          different types of cameras, learn the basics of composition.
        </p>

        <a class="card-link" href="#signup">
          <span class="card-link-circle">
            <svg class="card-icon" height="20" width="20">
              <use href="./img/sprite1.svg#our-courses-icon"></use>
            </svg>
          </span>
        </a>
      </li>

      <li class="courses-cards-item">
        <h3 class="card-subtitle">Landscape photography</h3>
        <p class="card-text">
          In this course, you'll learn how to choose the right angles, frame
          landscapes, and create depth and perspective in your images.
        </p>

        <a class="card-link" href="#signup">
          <span class="card-link-circle">
            <svg class="card-icon" height="20" width="20">
              <use href="./img/sprite1.svg#our-courses-icon"></use>
            </svg>
          </span>
        </a>
      </li>

      <li class="courses-cards-item">
        <h3 class="card-subtitle">Portrait photography</h3>
        <p class="card-text">
          During this course, you will learn to choose the right lighting,
          reproduce the mood and expressions on the faces of the models.
        </p>

        <a class="card-link" href="#signup">
          <span class="card-link-circle">
            <svg class="card-icon" height="20" width="20">
              <use href="./img/sprite1.svg#our-courses-icon"></use>
            </svg>
          </span>
        </a>
      </li>
    </ol>
  </div>
</section>
