<section class="container our-courses">
  <div class="courses-present">
    <h2 class="courses">Our <span>Courses</span></h2>
    <p class="paragraph">
      At our photography school, we offer a variety of courses that cover all
      aspects of this fascinating art. Regardless of your experience or skill
      level, we have courses to suit your needs and goals.
    </p>
  </div>
  <ul class="course-list">
    <li class="course-item">
      <div class="ancor">
        <p>01</p>
        <svg width="32" height="32">
          <use href="/src/img/sprite1.svg#icon-Arrow"></use>
        </svg>
      </div>
      <h3>Basics of photography</h3>
      <p>
        During this course, you will be able to familiarize yourself with
        different types of cameras, learn the basics of composition.
      </p>
    </li>
    <li class="course-item">
      <div class="ancor">
        <p>02</p>
        <svg width="32" height="32">
          <use href="/src/img/sprite1.svg#icon-Arrow"></use>
        </svg>
      </div>
      <h3>Landscape photography</h3>
      <p>
        In this course, you'll learn how to choose the right angles, frame
        landscapes, and create depth and perspective in your images.
      </p>
    </li>
    <li class="course-item">
      <div class="ancor">
        <p>03</p>
        <svg width="32" height="32">
          <use href="/src/img/sprite1.svg#icon-Arrow"></use>
        </svg>
      </div>
      <h3>Portrait photography</h3>
      <p>
        During this course, you will learn to choose the right lighting,
        reproduce the mood and expressions on the faces of the models.
      </p>
    </li>
  </ul>
</section>
