<section class="section mentors-section">
  <div class="container mentors-container">
    <h2 class="title mentors-title">
      Our <span class="mentors-title-accent">Mentors</span>
    </h2>
    <ul class="list mentors-section-list">
      <li class="item mentors-section-list-item">
        <img
          class="img mentors-section-list-img"
          srcset="./img/Our Mentors/emiliasmith@1x.jpg, ./img/Our Mentors/emiliasmith@2x.jpg"
          src="./img/Our Mentors/emiliasmith@1x.jpg"
          alt="Emilia Smith"
          width="180"
          height="180"
          loading="lazy"
        />

        <h3 class="mentors-section-list-item-caption">Emilia Smith</h3>
        <p class="mentors-section-list-item-text">1.5 years of experience</p>
      </li>
      <li>
        <img
          class="img mentors-section-list-img"
          srcset="./img/Our Mentors/alexlebedev@1x.jpg, ./img/Our Mentors/alexlebedev@2x.jpg"
          src="../img/Our Mentors/alexlebedev@1x.jpg"
          alt="Alex Lebedev"
          width="180"
          height="180"
          loading="lazy"
        />
        <h3 class="mentors-section-list-item-caption">Alex Lebedev</h3>
        <p class="mentors-section-list-item-text">3.5 years of experience</p>
      </li>
      <li>
        <img
          class="img mentors-section-list-img"
          srcset="./img/Our Mentors/miadubrovska@1x.jpg, ./img/Our Mentors/miadubrovska@2x.jpg"
          src="../img/Our Mentors/miadubrovska@1x.jpg"
          alt="Mia Dubrovska"
          width="180"
          height="180"
          loading="lazy"
        />
        <h3 class="mentors-section-list-item-caption">Mia Dubrovska</h3>
        <p class="mentors-section-list-item-text">2.0 years of experience</p>
      </li>
      <li>
        <img
          class="img mentors-section-list-img"
          srcset="./img/Our Mentors/eliotkovalev@1x.jpg, ./img/Our Mentors/eliotkovalev@2x.jpg"
          src="../img/Our Mentors/eliotkovalev@1x.jpg"
          alt="Eliot Kovalev"
          width="180"
          height="180"
          loading="lazy"
        />
        <h3 class="mentors-section-list-item-caption">Eliot Kovalev</h3>
        <p class="mentors-section-list-item-text">4.0 years of experience</p>
      </li>
    </ul>
  </div>
</section>
