<section class="reviews-section" id="reviews">
  <div>
    <h2 class="reviews-title">Reviews</h2>

    <ul class="reviews-card">
      <li class="reviews-wrapper">
        <div class="info-rating">
          <ul class="info-card">
            <li class="info-card-items">
              <picture>
                <!-- Desktop screen -->
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./img/Reviews/Abraham_Baker@1x_desktop.png 1x,
                    ./img/Reviews/Abraham_Baker@2x_desktop.png 2x
                  "
                  type="image/jpg"
                />
                <!-- Tablet screen -->
                <source
                  media="(min-width: 768px)"
                  srcset="
                    ./img/Reviews/Abraham_Baker@1x_tablet.png 1x,
                    ./img/Reviews/Abraham_Baker@2x_tablet.png 2x
                  "
                  type="image/jpg"
                />
                <!-- Mobile screen -->
                <source
                  media="(max-width: 767px)"
                  srcset="
                    ./img/Reviews/Abraham_Baker@1x_mobile.png 1x,
                    ./img/Reviews/Abraham_Baker@2x_mobile.png 2x
                  "
                  type="image/jpg"
                />
                <img
                  class="personal-info-photo"
                  src="./img/Reviews/Abraham_Baker@1x_mobile.png"
                  alt="photo"
                  width="56"
                  height="56"
                  loading="lazy"
                />
              </picture>
            </li>
            <li class="info-card-items">
              <h3 class="personal-info-title">Abraham Baker</h3>
              <p class="personal-info-text">Student</p>
            </li>
          </ul>

          <div class="rating-box">
            <svg class="rating-box-star" width="16" height="16">
              <use href="./img/sprite1.svg#icon-filled_star"></use>
            </svg>
            <svg class="rating-box-star" width="16" height="16">
              <use href="./img/sprite1.svg#icon-filled_star"></use>
            </svg>
            <svg class="rating-box-star" width="16" height="16">
              <use href="./img/sprite1.svg#icon-filled_star"></use>
            </svg>
            <svg class="rating-box-star" width="16" height="16">
              <use href="./img/sprite1.svg#icon-filled_star"></use>
            </svg>
            <svg class="rating-box-star" width="16" height="16">
              <use href="./img/sprite1.svg#icon-empty_star"></use>
            </svg>
          </div>
        </div>
        <p class="reviews-text">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>
      <li class="reviews-wrapper visibility">
        <div class="info-rating">
          <ul class="info-card">
            <li class="info-card-items">
              <picture>
                <!-- Desktop screen -->
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./img/Reviews/Amanda_Lowery@1x_desktop.png 1x,
                    ./img/Reviews/Amanda_Lowery@2x_desktop.png 2x
                  "
                  type="image/jpg"
                />
                <img
                  class="personal-info-photo"
                  src="./img/Reviews/Amanda_Lowery@1x_desktop.png"
                  alt="photo"
                  width="56"
                  height="56"
                  loading="lazy"
                />
              </picture>
            </li>
            <li class="info-card-items">
              <h3 class="personal-info-title">Amanda Lowery</h3>
              <p class="personal-info-text">Student</p>
            </li>
          </ul>

          <div class="rating-box">
            <svg class="rating-box-star" width="16" height="16">
              <use href="./img/sprite1.svg#icon-filled_star"></use>
            </svg>
            <svg class="rating-box-star" width="16" height="16">
              <use href="./img/sprite1.svg#icon-filled_star"></use>
            </svg>
            <svg class="rating-box-star" width="16" height="16">
              <use href="./img/sprite1.svg#icon-filled_star"></use>
            </svg>
            <svg class="rating-box-star" width="16" height="16">
              <use href="./img/sprite1.svg#icon-filled_star"></use>
            </svg>
            <svg class="rating-box-star" width="16" height="16">
              <use href="./img/sprite1.svg#icon-empty_star"></use>
            </svg>
          </div>
        </div>
        <p class="reviews-text">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </p>
      </li>
    </ul>
  </div>
</section>
