<section class="omgitissection conteiner">
    <ul class="display">
        <li class="lilia">
            <h2 class="ilovetitle">Sign <span class="thisspaniscool">Up</span></h2>
            <p class="paragraphiswonderfull">Please use the form below to contact us. Enter your name, email, and
                message
                and we'll get back to you shortly.</p>
            <div class="banka ">

                <div class="mirror">
                    <label class="bag">
                        <input class="input" id="user-name" name="user-name" type="text" placeholder="Enter your name">
                    </label>
                </div>
                <div class="mirror">
                    <label class="bag">
                        <input class="input" id="useremail" name="user-email" type="email"
                            placeholder="Enter your email">
                    </label>
                </div>
                <div>

                    <label class="bag">
                        <!-- <input class="inputtwo" id="useremessage" name="user-message"  placeholder="Message"> -->
                        <textarea class="inputtwo" placeholder="Message"></textarea>
                    </label>
                </div>


            </div>
            <button class="button" type="submit">SEND</button>
            <div class="div">
                <p class="prostoparagraph">By clicking on “Send” button, you agree to our
                    <a class="aaa" href="">Privacy Policy,</a>
                    and allow Promodo to use this information for marketing purposes.
                </p>
            </div>
            <div class="divtwo">
                <p class="prostoparagraph">By clicking on “Send” button, you agree to our
                    <a class="aaa" href="">Privacy Policy,</a>
                </p>
                <p class="prostoparagraph"> and allow Promodo to use this information for marketing purposes.</p>
            </div>
        </li>
        <div class="skoworodka">
        <li class="class">
           <img  srcset="./img/SignUp/isabella-mendes@1x_desktop.png 1x" >
           
        </li>
        <li class="photo"> <img srcset="./img/SignUp/video-entry-product@1x_desktop.png 1x" height="296px"></li>
    </div>
    </ul>

</section>