@import url('./variables.css');

.advertisement {
  overflow: hidden;
  background-color: black;
}

.ad {
  display: inline-flex;
  width: 100%;
}
.ad_line {
  font-family: 'DM Sans';
  font-weight: 400;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  flex-shrink: 0;
  margin: 0;
  width: 100%;
  white-space: nowrap;
  animation-name: adLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  color: #bea69e;
}
.ad_line span {
  color: #fff;
}
@media screen and (max-width: 1279px) {
  @keyframes adLine {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }
}

@media screen and (max-width: 767px) {
  .advertisement {
    width: 588px;
    height: 72px;
  }
  .ad_line {
    font-size: 28px;
    line-height: 1.14;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .advertisement {
    width: 840px;
    height: 98px;
  }
  .ad {
    justify-content: center;
  }
  .ad_line {
    font-size: 40px;
    line-height: 1.25;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1279px) {
  .advertisement {
    width: 1280px;
    height: 112px;
    padding: 21px 24px;
  }
  .ad_line {
    font-size: 59px;
    line-height: 1.08;
    text-align: center;
  }
}
