@import url('./variables.css');
/*  */
.container-header{
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen  and (min-width: 429px){
  .container-header{
    display: flex;
    gap: 14px;
}
}

/**
  |============================
  | SECTION MARGINS TOP BOTTOM
  |============================
*/
@media screen  and (min-width: 768px){
    .container-header{
        margin-bottom: 40px;
    }
}
@media screen  and (min-width: 1280px){
    .container-header{
        margin-bottom: 80px;
    }
}

.logo-header{
  margin-top: 17px;
  margin-bottom: 17px;
}
@media screen  and (min-width:429px) {
  .logo-header{
    margin-top: 22px;
    margin-bottom: 22px;
}
}
.navbar-header{
  max-width: 335px;
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: var(--black);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
@media screen  and (min-width:429px) {
  .navbar-header{
    max-width: 504px;
    width: 100%;
    height: 60px;
  }
  .container-head{
    max-width: 822px;
  }
}
@media screen  and (min-width:768px) {
  .navbar-header{
    max-width: 822px;
  }
}


.signup-mobile-header{
  width: 32px;
  height: 32px;
  background-color: #1D1D1D;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-header-signup{
  fill:#BEA69E66;
  opacity: 40%;
}
.signup-mobile-header{
  margin-top: 8px;
}
@media screen  and (min-width:429px) {
  .signup-mobile-header{
    display: none;
}
}
.icon-header-signup:hover,
.icon-header-signup:focus{
  opacity: 100%;
}
.menu-toggle{
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
}
.mobile-butons-header{
  display: flex;
  gap: 14px;
}
/**
  |================================================================================================================
  | TABLET
  |================================================================================================================
*/
.signup-header{
  width: 186px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  color: var(--black);
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.55;
  font-weight: 700;
  border-radius: 12px;
}
.signup-header:focus,
.signup-header:hover{
  background-color: #1D1D1D;
  color: #BEA69E;
}
@media screen  and (min-width:769px) {
  .signup-header{
    width: 238px;
  }
}

.header-list{
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 502px;
  width: 100%;
  margin-top: 21px;
}

.header-link{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}
.header-link:hover,
.header-link:focus{
  color: #BEA69E;
}
.menu-container{
  width: 218px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: #BEA69E;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
@media (min-width:428px){
  .menu-container{
    width: 480px;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.modal-icon{
  fill: black;
  width: 32px;
  height: 32px;
  
}
.menu-container .menu-toggle{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--black);
}
@media (min-width:428px) and (max-width:769px){
  .menu-container .menu-toggle{
    right: 32px;
    width: 40px;
    height: 40px;
  }
}

.mobile-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 180px;
}

.mobile-menu{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-left: 20px;
  color: var(--black);
  font-size: 14px;
  text-transform: uppercase;
}
@media (min-width:428px){
  .mobile-menu{
    gap: 28px;
    margin-left: 64px;
  }
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Затемнення на 40% */
    z-index: 1;
}
.overlay-visible {
    display: block;
}



/**
  |============================
  | DISPLAYS NONE MEDIA REQUESTS
  |============================
*/
@media screen and (max-width:1279px){
    .header-list{
        display: none;
    }
    
}
@media screen  and (max-width: 429px){
    .signup-header{
        display: none;
    }
    .tablet-photo{
      display: none;
    }
}
@media screen  and (min-width: 429px){
    .mobile-photo{
      display: none;
    }
}
@media screen  and (min-width: 769px){
    .signup-mobile-header{
        display: none;
    }
}
@media screen and (min-width: 1280px){
  .menu-toggle{
        display: none;
    }
}

.mobile-menu a.active {
    font-weight: 700;
}

.js-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: transform 0.3s ease;
}

.js-header.hidden {
    transform: translateY(-100%);
}
