@import url('./variables.css');
@import url('./reset.css');

.hero-sec {
  padding-top: 20px;
  padding-bottom: 80px;
  /* margin-top: 90px; */
}

@media only screen and (min-width: 768px) {
  .hero-sec {
    padding-top: 40px;
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-sec {
    padding-top: 80px;
    padding-bottom: 150px;
  }
}

.hero-cont.hc {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 335px;
  background-color: var(--dark_gray);

  border-radius: 30px;
}
.hero-title {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1; /* 110% */
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}
.hero-text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}
.photography {
  color: #bea69e;
  font-size: 40px;
  font-style: italic;
  line-height: 1;
  letter-spacing: -0.04em;
}
.hero-students-sec {
  display: flex;
  margin-bottom: 31px;
}
.hero-students-img {
  margin-right: 40px;
}
.hero-students {
  padding-bottom: 4px;
}
.hero-students-linc {
  display: flex;
  align-items: center;
}
.hero-students-text {
  display: flex;
  width: 68px;
  padding-right: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.04em;

  transition: color var(--animation);
}

.hero-students-text:hover,
.hero-students-text:focus {
  color: var(--brown);
}

.hero-icon {
}
.hero-icon-arrow {
  fill: var(--white);
  stroke: var(--white);
}
.hero-reviews {
  display: flex;
  height: 44px;
  align-items: center;
}
.hero-reviews-t {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}
.hero-reviews-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25; /* 125% */
  letter-spacing: -0.04em;
  margin-bottom: 4px;
}
.rectangle {
  display: flex;
  justify-content: center;
}

.wraper-icon-star {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: var(--brown);
}

@media screen and (max-width: 359px) {
  .hero-text {
    font-size: 13px;
  }
  .hero-icon {
  }
}
@media screen and (max-width: 336px) {
  .hero-title {
    font-size: 38px;
  }
  .hero-title {
    font-size: 39px;
  }
  .photography {
    font-size: 39px;
  }
  .hero-text {
    font-size: 12px;
  }
  .hero-icon {
    max-width: 40px;
  }
}

/**------------ Tablet-------------- */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .hero-cont.hc {
    max-width: 704px;
    /* padding-bottom: 100px; */
    border-radius: 30px;
    padding-left: 32px;
    padding-right: 155px;
  }
  .hero-title {
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    line-height: 1.06; /* 106.667% */
  }
  .photography {
    color: #bea69e;
    font-size: 60px;
    font-style: italic;
    line-height: 1.07;
    letter-spacing: -0.04em;
  }
  .hero-text {
    line-height: 1.28; /* 128.571% */
    letter-spacing: -0.02em;
  }
  .hero-students-sec {
    margin-bottom: 40px;
  }
  .hero-students-img {
    display: flex;
    padding-right: 40px;
  }
  .hero-students {
    padding-right: 10px;
  }
  .hero-students-linc {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero-students-text {
    font-size: 16px;
    line-height: 20px; /* 125% */
    letter-spacing: -0.04em;
    margin-bottom: 8px;
    width: 82px;
  }

  .hero-reviews-text {
    font-size: 16px;
    line-height: 20px; /* 125% */
    letter-spacing: -0.04em;
  }
  .hero-icon {
  }
}

/**------------ decstop-------------- */

@media screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
    padding: 0 100px;
  }
  .hero-cont.hc {
    max-width: 1080px;
  }
  .hero-cont {
    display: flex;
    min-width: 1080px;
    /* padding-bottom: 150px; */
    border-radius: 30px;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: flex-end;
  }
  .hero-decs {
    display: flex;
    flex-direction: column;
  }
  .hero-title {
    width: 561px;
    font-size: 64px;
    font-weight: 500;
    line-height: 1.06; /* 106.667% */
  }
  .photography {
  }
  .hero-text {
    width: 418px;
    flex-shrink: 0;
    line-height: 1.28; /* 128.571% */
    letter-spacing: -0.02em;
    margin-bottom: 137px;
  }
  .hero-students-text {
    letter-spacing: -0.02em;
  }
  .hero-reviews {
    height: 50px;
  }
  .hero-reviews-text {
    font-size: 16px;
    line-height: 20px; /* 125% */
    letter-spacing: -0.04em;
    margin-bottom: 8px;
  }
  .rectangle {
  }
}
